.App {
  background-color: black;
  font-family: sans-serif;
  font-weight: bold;
}

header {
  height: 130px;
}

.logo {
  height: 100px;
  margin-left: 50px;
}

.container {
  margin: 0 0 40px 50px;
}

.category {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.images {
  display: flex;
  overflow-x: auto;
}

.images img {
  width: 220px;
  height: 123px;
}

.images::-webkit-scrollbar {
  display: none;
}

footer {
  height: 30px;
}
