body {
  background-color: black;
}

.App {
  font-family: "system-ui";
  font-weight: 600;
  margin-left: 50px;
}

.logo {
  height: 100px;
}

.container {
  margin: 0 0 45px 0px;
}

.category {
  color: white;
  font-size: 20px;
  margin: 20px 0;
}

.images {
  display: flex;
  overflow-x: auto;
}

.images img {
  width: 220px;
  height: 123px;
}

.images::-webkit-scrollbar {
  display: none;
}

footer {
  height: 30px;
}
